service/backup/workflows/auto_backup.json
[{"updatedAt":"2025-10-17T16:10:09.000Z","createdAt":"2025-10-17T01:15:35.125Z","id":"PLc6m9UXsZVmRi1q","name":"auto_backup","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":21}]}},"id":"cb077f04-f923-470a-ba3b-9da955514346","name":"at_2100","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-624,256]},{"parameters":{"workflowId":{"__rl":true,"value":"MmCPsZXUQbO1KAyu","mode":"list","cachedResultUrl":"/workflow/MmCPsZXUQbO1KAyu","cachedResultName":"backup_credentials"},"options":{"waitForSubWorkflow":true}},"id":"66310051-72e6-4272-b0a4-7c559a16bc44","name":"backup_creds","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[-112,0]},{"parameters":{"workflowId":{"__rl":true,"value":"fDpjF1xykMVeY6kY","mode":"list","cachedResultUrl":"/workflow/fDpjF1xykMVeY6kY","cachedResultName":"write_workflows_json"},"options":{"waitForSubWorkflow":true}},"id":"ce485367-b6f1-4fa9-be0d-6e6ba6a0e53c","name":"backup_workflows","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[-416,256]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[80,0],"id":"a630017a-e3fb-4412-bac3-432c1305b7ef","name":"Aggregate"},{"parameters":{"command":"pwsh -c \"git add --all ; git commit -m 'backup' ; git push\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[272,0],"id":"f9948e10-a2d4-477a-881a-c3e444257df4","name":"Execute Command","onError":"continueErrorOutput"},{"parameters":{"command":"pwsh -c \"git add --all ; git commit -m 'backup' ; git push\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-16,256],"id":"02909093-f610-47b6-8bcc-febabc75700b","name":"Execute Command1","onError":"continueErrorOutput"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-224,256],"id":"7395b71d-198d-4f90-b054-6e702a8fba43","name":"Aggregate1"},{"parameters":{"assignments":{"assignments":[{"id":"b37a44aa-2bc1-4848-98f3-3aada10d443b","name":"error","value":"={{ $json.error.split(\"remote\").map(s => s.includes('unblock') ? s.extractUrl() : null).unique() }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[336,256],"id":"cc7b62d9-25d3-4272-87ca-908fed594b20","name":"get_unblock_secret_links"},{"parameters":{"errorMessage":"={{ $json }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[544,256],"id":"8aa7e592-995d-4744-9bc5-30c08eca2186","name":"Stop and Error"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-496,0],"id":"2c2547b3-0e83-4f49-9e3f-d098daf848d7","name":"on_click"}],"connections":{"at_2100":{"main":[[{"node":"backup_workflows","type":"main","index":0}]]},"backup_workflows":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"backup_creds":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Execute Command":{"main":[[],[{"node":"get_unblock_secret_links","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Execute Command1","type":"main","index":0}]]},"get_unblock_secret_links":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"on_click":{"main":[[{"node":"backup_creds","type":"main","index":0},{"node":"backup_workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:at_2100":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"0bc221e3-f32a-4305-a76d-e0fdae3db5b9","triggerCount":1,"shared":[{"updatedAt":"2025-10-17T01:15:35.125Z","createdAt":"2025-10-17T01:15:35.125Z","role":"workflow:owner","workflowId":"PLc6m9UXsZVmRi1q","projectId":"ixpNRE1B5DSjZ1fx"}],"tags":[{"updatedAt":"2025-10-17T01:13:09.099Z","createdAt":"2025-10-17T01:13:09.099Z","id":"VCp81cfqLfblmEUD","name":"backup"}]}]