service/backup/workflows/cache_dbx_folder_index.json
[{"createdAt":"2025-10-16T23:38:13.720Z","updatedAt":"2025-10-17T01:13:56.000Z","id":"um0fWYE3UUL47FXW","name":"cache_dbx_folder_index","active":false,"isArchived":false,"nodes":[{"parameters":{"command":"echo %PWD%"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-304,-528],"id":"650e735f-4a42-4bc8-9f84-ccf05f9c47c1","name":"echo_pwd"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-80,-592],"id":"07cf5046-9034-45bc-8eb3-dea79709f8c3","name":"combine"},{"parameters":{"operation":"write","fileName":"={{ $json.stdout + '\\\\dbx_index.json' }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[144,-592],"id":"c0549f8f-5b31-4870-b545-675a1067e778","name":"write_file"},{"parameters":{"operation":"toJson","options":{"format":true}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-528,-592],"id":"2d94c76f-e7bb-49e5-b8bb-3135a0dc7c9a","name":"to_binary"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5418479f-254e-428d-a816-15ca43f61a4b","leftValue":"={{ $json.type }}","rightValue":"folder","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-752,-592],"id":"ec75c07e-f143-4176-bed0-5243dcec3a9d","name":"filter_folders"},{"parameters":{"authentication":"oAuth2","resource":"folder","operation":"list","path":"/Clio","returnAll":true,"filters":{"recursive":true}},"type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[-976,-592],"id":"769aa99b-b409-4b1d-9021-687a8ba6d2cf","name":"get_items","credentials":{"dropboxOAuth2Api":{"id":"dw6p2EgapsTjWrAP","name":"dbx [zramdass]"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1200,-784],"id":"79ffcfe7-fe2a-430a-8f91-6e1719a92b90","name":"on_click"},{"parameters":{"inputSource":"passthrough"},"id":"8bfae51e-6619-478b-8120-8ecd1744a9a1","typeVersion":1.1,"name":"on_called","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-1200,-592]},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1200,-400],"id":"d6f92cab-e322-4cb4-b643-3a83422f1497","name":"at_midnight"}],"connections":{"echo_pwd":{"main":[[{"node":"combine","type":"main","index":1}]]},"to_binary":{"main":[[{"node":"combine","type":"main","index":0},{"node":"echo_pwd","type":"main","index":0}]]},"filter_folders":{"main":[[{"node":"to_binary","type":"main","index":0}]]},"get_items":{"main":[[{"node":"filter_folders","type":"main","index":0}]]},"combine":{"main":[[{"node":"write_file","type":"main","index":0}]]},"on_click":{"main":[[{"node":"get_items","type":"main","index":0}]]},"on_called":{"main":[[{"node":"get_items","type":"main","index":0}]]},"at_midnight":{"main":[[{"node":"get_items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"09135f93-532c-4101-b48c-e10d82aa173a","triggerCount":0,"shared":[{"createdAt":"2025-10-16T23:38:13.723Z","updatedAt":"2025-10-16T23:38:13.723Z","role":"workflow:owner","workflowId":"um0fWYE3UUL47FXW","projectId":"ixpNRE1B5DSjZ1fx"}],"tags":[{"createdAt":"2025-10-17T01:13:55.132Z","updatedAt":"2025-10-17T01:13:55.132Z","id":"8SM64STUyw1PN4fJ","name":"eservice"}]}]