service/backup/workflows/fs_auto_upload.json
[{"createdAt":"2025-10-14T22:24:45.374Z","updatedAt":"2025-10-17T01:14:02.000Z","id":"mkXZp2NvnMMkQTNt","name":"fs_auto_upload","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"output":"fields","fields":["body","subject","hasAttachments","sentDateTime","receivedDateTime"],"filters":{"foldersToInclude":["AAMkADhiNjEzMzg1LTA4MTUtNDc5Zi04MDQzLTY0ZDMzZWM0M2JkNQAuAAAAAAA9tdLGRf1DT6IA2HuobF7PAQBzxYPmhrKPRpPw-mKbCd_4AAOedX8jAAA="]},"options":{}},"type":"n8n-nodes-base.microsoftOutlookTrigger","typeVersion":1,"position":[-400,-80],"id":"2784ab7f-cb21-4a5b-a186-f285771df0a9","name":"on email","credentials":{"microsoftOutlookOAuth2Api":{"id":"IQ02viLn0rWxHgiU","name":"outlook [eservice]"}}},{"parameters":{"workflowId":{"__rl":true,"value":"2r4AVo8hQY88LVNY","mode":"list","cachedResultUrl":"/workflow/2r4AVo8hQY88LVNY","cachedResultName":"Run Python Module"},"workflowInputs":{"mappingMode":"defineBelow","value":{"module":"n8n_py.parser","positionals":"={{ [$json.body.content] }}"},"matchingColumns":[],"schema":[{"id":"module","displayName":"module","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"positionals","displayName":"positionals","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-128,-80],"name":"parse_link","id":"bfe1f739-7413-4ef2-a0cd-2334024c34f1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e74e531e-cfec-4622-8f9c-00ae88f6ccc1","leftValue":"={{ $json.execution.exit_code }}","rightValue":0,"operator":{"type":"number","operation":"equals"}},{"id":"ee5d209f-4b4d-427d-86e4-f8a18b99cfe4","leftValue":"={{ $json.data.paths }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,-80],"id":"94462cf5-4636-4f3f-975d-4b00fb300418","name":"if_ok"},{"parameters":{"fileSelector":"={{ $json.path }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[320,-256],"id":"b05ef71a-5aae-4175-9fde-8583eb64b3d9","name":"read_file"},{"parameters":{"fieldToSplitOut":"data.paths","options":{"destinationFieldName":"path"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[80,-256],"id":"b77b3034-6464-4916-87e8-96e5c50f9928","name":"split_out_paths"},{"parameters":{"errorMessage":"={{  $json }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[112,160],"id":"c5b51ad2-7981-4f7e-bd86-be8d144fdf9b","name":"Stop and Error"}],"connections":{"on email":{"main":[[{"node":"parse_link","type":"main","index":0}]]},"parse_link":{"main":[[{"node":"if_ok","type":"main","index":0}]]},"if_ok":{"main":[[{"node":"split_out_paths","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"split_out_paths":{"main":[[{"node":"read_file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a8707761-5ff6-41c1-af73-30350f77dfaf","triggerCount":0,"shared":[{"createdAt":"2025-10-14T22:24:45.374Z","updatedAt":"2025-10-14T22:24:45.374Z","role":"workflow:owner","workflowId":"mkXZp2NvnMMkQTNt","projectId":"ixpNRE1B5DSjZ1fx"}],"tags":[{"createdAt":"2025-10-17T01:13:55.132Z","updatedAt":"2025-10-17T01:13:55.132Z","id":"8SM64STUyw1PN4fJ","name":"eservice"}]}]