service/backup/workflows/git_push.json
[{"createdAt":"2025-10-17T01:09:58.534Z","updatedAt":"2025-10-17T01:31:04.000Z","id":"vxlgJqjOgFvw0dIp","name":"git_push","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"9d2b73a5-5f74-44b4-aa08-4c741f5beaf0","name":"same","type":"n8n-nodes-base.noOp","position":[768,576],"typeVersion":1},{"parameters":{},"id":"6583b2af-80d5-4f4b-96ea-37ba539d867a","name":"different","type":"n8n-nodes-base.noOp","position":[768,576],"typeVersion":1},{"parameters":{},"id":"5fd92d57-6dc6-44d4-a9af-3a2e9187c57f","name":"new","type":"n8n-nodes-base.noOp","position":[768,576],"typeVersion":1},{"parameters":{"batchSize":1,"options":{}},"id":"3d7834ca-7f4d-46de-9741-e50b4f9b57a2","name":"OneAtATime","type":"n8n-nodes-base.splitInBatches","position":[304,544],"typeVersion":1},{"parameters":{"jsCode":"// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"},"id":"cfb88cf4-ac6d-4543-84dc-770039039df4","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[848,272],"typeVersion":1},{"parameters":{},"id":"34697169-eaec-4043-93a7-5c10c0f49a65","name":"Merge","type":"n8n-nodes-base.merge","position":[560,272],"typeVersion":2},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Global\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Global\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Global\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"681e7b1f-5e52-4a0a-b8bc-69fdd8cbd599","name":"GH","type":"n8n-nodes-base.github","position":[512,544],"typeVersion":1,"alwaysOutputData":true,"webhookId":"ec43b093-b422-490e-8e19-ca1f0f665a69","credentials":{"githubApi":{"id":"F54J2npoi4l6xTmI","name":"GitHub [zaynram]"}},"continueOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"content":"### **[DO NOTHING]** ? 0| .\n---\n---\n---\n---\n---","height":196.90909090909093,"width":184.3636363636366,"color":7},"id":"0a8e4bfa-e612-4cde-8fdd-1fbb7771abfb","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[720,512]},{"parameters":{},"id":"b91bfc21-2007-4bda-9c40-1e98f1fed3ac","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-176,64]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"722ce56c-c55b-458d-8d50-e97e48545c39","leftValue":"={{ $json.repo.path }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"2987c313-9bab-4e69-86d5-f974a8bc2cb5","leftValue":"={{ $json.repo.name }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"f837e7c4-51ad-474a-b199-8f4a86789637","leftValue":"={{ $json.repo.owner }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"22738e0c-5e8f-4e96-be96-3587972acb54","name":"Path ?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[48,64]},{"parameters":{"dataToSave":{"values":[{"key":"=JSON","value":"={{ $json }}"}]}},"id":"22431f81-a1e5-4dac-8832-5e7f62b40dbb","name":"Execution Data","type":"n8n-nodes-base.executionData","typeVersion":1,"position":[144,288]},{"parameters":{"errorType":"errorObject","errorObject":"={{ $json.JSON }}"},"id":"0b1f00d8-592b-42f0-a9bf-5ebd116946fa","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[320,288]},{"parameters":{"content":"### **[ERR HANDLER] 1 (valid path) ?: t|next| OR f|error|**\n---\n---\n---\n---\n---","height":449.09090909090963,"width":460.18181818181847,"color":3},"id":"d3a6a2b8-9e68-4e62-a17f-e5b6b7eb9189","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"### **[SETUP] 1 |Set Repository Info . 2 |Batch Items . 3 |Try Getting $this File .**\n---\n---\n---\n---\n---","height":222.54545454545436,"width":690.9090909090918,"color":5},"id":"b362269f-ef2b-4cad-b276-99f8b0144b2a","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,480]},{"parameters":{"content":"### [UPLOAD ENTRY]\n### 1|Update File . 2|Create File .\n---\n---\n---\n---\n---","height":488.54545454545496,"width":207.27272727272776,"color":4},"id":"a475c435-8a4a-4f58-abe8-91269c0da871","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[944,576]},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Global\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Global\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Global\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json","fileContent":"={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}","commitMessage":"=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"},"id":"d982da5b-97be-48e5-abc4-670fcc3f003e","name":"GitHub Edit","type":"n8n-nodes-base.github","position":[992,688],"typeVersion":1,"webhookId":"62461f9b-7276-4bb2-a8f8-50c12bd92265","credentials":{"githubApi":{"id":"F54J2npoi4l6xTmI","name":"GitHub [zaynram]"}}},{"parameters":{"content":"### **[VALIDATOR] 1 (file diff) ? same|Do Nothing OR new|Create Entry OR diff|Update Entry**\n---\n---\n---\n---\n---","height":256.90909090909093,"width":815.6363636363643},"id":"34be59f1-6b73-4bcd-b51d-59ad11c7a73c","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[512,208]},{"parameters":{"dataType":"string","value1":"={{$json[\"github_status\"]}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"5f8abe07-819f-4a60-976d-0c0c747ebc94","name":"github_status","type":"n8n-nodes-base.switch","position":[1120,272],"typeVersion":1},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"={{ $json.repo.owner }}"},{"name":"repo.name","value":"={{ $json.repo.name }}"},{"name":"repo.path","value":"={{ $json.repo.path }}"}]},"options":{}},"id":"2fe36213-b6be-4a25-a15b-c34de7c59ccd","name":"Global","type":"n8n-nodes-base.set","position":[-16,544],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"=https://github.com/{{$node[\"Global\"].json[\"repo\"][\"owner\"]}}","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/{{$node[\"Global\"].json[\"repo\"][\"owner\"]}}/{{$node[\"Global\"].json[\"repo\"][\"name\"]}}","mode":"url"},"filePath":"={{$node[\"Global\"].json[\"repo\"][\"path\"].trim() }}{{$node[\"OneAtATime\"].json[\"name\"].split(\" \").join('_').trimStart() }}.json","fileContent":"={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}","commitMessage":"=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[992,912],"id":"1a77b514-6390-4798-b60d-986c4689efd7","name":"Create a file","webhookId":"740d3e8c-236a-4e7b-a58d-10f8d66b57c8","credentials":{"githubApi":{"id":"F54J2npoi4l6xTmI","name":"GitHub [zaynram]"}}}],"connections":{"same":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"different":{"main":[[{"node":"GitHub Edit","type":"main","index":0}]]},"new":{"main":[[{"node":"Create a file","type":"main","index":0},{"node":"OneAtATime","type":"main","index":0}]]},"OneAtATime":{"main":[[{"node":"GH","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"isDiffOrNew":{"main":[[{"node":"github_status","type":"main","index":0}]]},"Merge":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"GH":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Path ?","type":"main","index":0}]]},"Path ?":{"main":[[{"node":"Global","type":"main","index":0}],[{"node":"Execution Data","type":"main","index":0}]]},"Execution Data":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"GitHub Edit":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"github_status":{"main":[[{"node":"same","type":"main","index":0}],[{"node":"different","type":"main","index":0}],[{"node":"new","type":"main","index":0}]]},"Global":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"createdAt":"2025-10-14T22:21:18.098Z","updatedAt":"2025-10-16T20:42:57.755Z","id":"IQ02viLn0rWxHgiU","name":"outlook [eservice]","data":{"clientId":"78a50b13-c885-4788-8e99-7cee8b4f1e8e","clientSecret":"=mg~8Q~J1lqhVpsR1MCwc8VwOwZmoOdIZMysHBbJB","oauthTokenData":{"token_type":"Bearer","scope":"Calendars.Read Calendars.Read.Shared Calendars.ReadWrite Contacts.Read Contacts.ReadWrite Mail.ReadWrite Mail.ReadWrite.Shared Mail.Send Mail.Send.Shared MailboxSettings.Read openid profile email","expires_in":4500,"ext_expires_in":4500,"access_token":"eyJ0eXAiOiJKV1QiLCJub25jZSI6IkZUVm9iQ0xUeXZRY2FTdzNaUm9lS3NVZklYb0VFRTM0T3MwRlR6Nldid0UiLCJhbGciOiJSUzI1NiIsIng1dCI6IkhTMjNiN0RvN1RjYVUxUm9MSHdwSXEyNFZZZyIsImtpZCI6IkhTMjNiN0RvN1RjYVUxUm9MSHdwSXEyNFZZZyJ9.eyJhdWQiOiIwMDAwMDAwMy0wMDAwLTAwMDAtYzAwMC0wMDAwMDAwMDAwMDAiLCJpc3MiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC9iZWMyNTM5Ny0zMGM3LTRhMTgtODI1YS1mNWQ4OWU2MmNlOWEvIiwiaWF0IjoxNzYwNjQ3MDc3LCJuYmYiOjE3NjA2NDcwNzcsImV4cCI6MTc2MDY1MTg3OCwiYWNjdCI6MCwiYWNyIjoiMSIsImFpbyI6IkFYUUFpLzhhQUFBQW5aRnZ0eVNkcWFvTjNvT0JuRUl2di9GZ01XTE9OMDVZTkhGNFc5YURGNm5tanptUVoyelAvYWV6TzAzRnhoY0lHQ0I1N09FNmh3a0pSbW9jdkRKbHN5ci9vSU10S0hDVVdhVHMyMUJLVmFSdG1Ya3Y2cERob3J0QW1Gc2t2M1doVnh4M2FQUmJhWFR1NTRKcEFXV2g3QT09IiwiYW1yIjpbInB3ZCJdLCJhcHBfZGlzcGxheW5hbWUiOiJuOG4gYXV0aCIsImFwcGlkIjoiNzhhNTBiMTMtYzg4NS00Nzg4LThlOTktN2NlZThiNGYxZThlIiwiYXBwaWRhY3IiOiIxIiwiZmFtaWx5X25hbWUiOiJFIFNlcnZpY2VzIiwiZ2l2ZW5fbmFtZSI6IkNyb3NieSBhbmQgQ3Jvc2J5IiwiaWR0eXAiOiJ1c2VyIiwiaXBhZGRyIjoiNzMuMjA5LjE3MS4yMDEiLCJuYW1lIjoiQ3Jvc2J5IGFuZCBDcm9zYnkgRSBTZXJ2aWNlcyIsIm9pZCI6IjYzMGQ2YmQwLThkNmUtNDMxYi04MDgxLWY2MGMwNmY2N2ExZiIsInBsYXRmIjoiMyIsInB1aWQiOiIxMDAzMjAwMUE1QTFCOTMwIiwicmgiOiIxLkFWQUFsMVBDdnNjd0dFcUNXdlhZbm1MT21nTUFBQUFBQUFBQXdBQUFBQUFBQUFEYUFXdFFBQS4iLCJzY3AiOiJDYWxlbmRhcnMuUmVhZCBDYWxlbmRhcnMuUmVhZC5TaGFyZWQgQ2FsZW5kYXJzLlJlYWRXcml0ZSBDb250YWN0cy5SZWFkIENvbnRhY3RzLlJlYWRXcml0ZSBNYWlsLlJlYWRXcml0ZSBNYWlsLlJlYWRXcml0ZS5TaGFyZWQgTWFpbC5TZW5kIE1haWwuU2VuZC5TaGFyZWQgTWFpbGJveFNldHRpbmdzLlJlYWQgb3BlbmlkIHByb2ZpbGUgZW1haWwiLCJzaWQiOiIwMDlhYzE0OS0zMWExLWU0NWItYzhjMS00MWZmYTk3YzQ5YzIiLCJzdWIiOiItU2M2RjdUVU9CT3hjLVI3aE5NRjlPVWl5MkZJTlRodEo2T3NFeEtoX2FJIiwidGVuYW50X3JlZ2lvbl9zY29wZSI6Ik5BIiwidGlkIjoiYmVjMjUzOTctMzBjNy00YTE4LTgyNWEtZjVkODllNjJjZTlhIiwidW5pcXVlX25hbWUiOiJlc2VydmljZUBjcm9zYnlhbmRjcm9zYnlsYXcuY29tIiwidXBuIjoiZXNlcnZpY2VAY3Jvc2J5YW5kY3Jvc2J5bGF3LmNvbSIsInV0aSI6Ikd5SXZTSWxyQUVTMHNSYkZha0FDQUEiLCJ2ZXIiOiIxLjAiLCJ3aWRzIjpbImI3OWZiZjRkLTNlZjktNDY4OS04MTQzLTc2YjE5NGU4NTUwOSJdLCJ4bXNfYWNkIjoxNzI4NTczODIxLCJ4bXNfYWN0X2ZjdCI6IjkgMyIsInhtc19mdGQiOiJOQXA0bmpMb2tQN3J1TGNGbWpCRE51UDE3Xzgtcll2V3ZsV0JTTkR2ZEw4QmRYTmxZWE4wTFdSemJYTSIsInhtc19pZHJlbCI6IjEgMTIiLCJ4bXNfc3QiOnsic3ViIjoiRHRlUmF0WXAwZjRZdVVKZldZZVVxSm1QUm5QT1hrU0tmOWZIbFhab2dEVSJ9LCJ4bXNfc3ViX2ZjdCI6IjMgNCIsInhtc190Y2R0IjoxNjM2NTc3OTY2LCJ4bXNfdG50X2ZjdCI6IjMgOCJ9.X6Csm1k6fzcTuTA2FfQSSOSB9vbiTaO5LyeiDZToJI-7-M3xvoeN9_-7G3qEOTwLA1SrZ7Mf_0RsIhhMdNIVQsft0U5s0jA2nQf8Z2ky9yidSIdweq1J1Amids_SxcSqC28qCVXTJjU9W1yYk_DtPS9RX8-mc9ihHX_97s4Ftmh3doAhsv9fZNhqBfqsKlRr3sqBuirY7ondlij9_7JQwg7fqPjwEng_H2NmIIFmKB6GmIszzmkPM_zYw3Nq0AVIshMy6ESUZOuUB9nHUMt5dXskMmi4N39ilpmOW-JNt2rS60AHVACKWNRRqlVhIJW62rpjxqkCEhkJQ1ut9qMjKg","refresh_token":"1.AVAAl1PCvscwGEqCWvXYnmLOmhMLpXiFyIhHjpl87otPHo7aAWtQAA.AgABAwEAAABlMNzVhAPUTrARzfQjWPtKAwDs_wUA9P8hc1_nAaTHB_kXUcDUvakOy-91TaXSpeX-g596OFuSCO3TdXRYcf_7OLD5mUz2l66lMluEaKCWdSUOhooivZNDWbVTb29ipdAkXsKrjEFPwMbF4m3tBTtOcmNdWwpBfX1xUokhWRlmSOlbvXZdYJ9E56XenBy_KalDpUqri-ENddnKvB7IQl0Qh9XZCNfFHAP6cyTqKbTvFevWdONFwZZaQfvP-RSqW70YbRlOJIHopUSWnjs5zwceN_iBqoqRPXfJlfHJmMmSzPIsaPa-Txs-y-Pe01Uca3jLFgxPqMIQpXKEu77ZxLOLzb1wrX8s9ExZnWwIsDiL7DFMXI11aBq9a75Idi0zQ83n2bWXCSmxS0q38WYZ4Cadqs7vsB1E2wtiOPvvd1nvxBdlkamnYwD2UiRiqPDZoCrT65nqcsrnfSFewAEOXkmADemhhnTKPfyPqI1XffU0dIb1eA0OHjJZeXkF9HTSHhMGxRE-uVGpyrtXW43qQWEcuNJ-N3DS5mhvCNtvK7G1akq-1Bbti_ln_qRmiIHlBHSkqr0WP5EQYqO8L0zjFfWz-SwZvbfQXzKiZlC5srK1TVWyi-ox9tF4jhZV9JR22Q_OfdJe1b8i92h3nLAlEAn5QAl_LqLrgnDkST50nAVkTuFNmoimTlgnkdDfWfLWhl_zqqKNx0-_zuhHZStUhYytYv799mzTWfZBsuYOAImT4uGEEsBwzjxmusUceX77N_SEABvNeZwo4pAyP8nOlkiVQ7I1hOQuqLumqQnp25RxkIWZli4XKfa0s7lQh2CfgaA2s47JLLY3RKpBtRTBJ3onodScsEWqJOukxAyizssyBFlCaANrJqpPWLsN77ozkilzJCKgrg","id_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IkhTMjNiN0RvN1RjYVUxUm9MSHdwSXEyNFZZZyJ9.eyJhdWQiOiI3OGE1MGIxMy1jODg1LTQ3ODgtOGU5OS03Y2VlOGI0ZjFlOGUiLCJpc3MiOiJodHRwczovL2xvZ2luLm1pY3Jvc29mdG9ubGluZS5jb20vYmVjMjUzOTctMzBjNy00YTE4LTgyNWEtZjVkODllNjJjZTlhL3YyLjAiLCJpYXQiOjE3NjA2NDcwNzcsIm5iZiI6MTc2MDY0NzA3NywiZXhwIjoxNzYwNjUwOTc3LCJhaW8iOiJBWVFBZS84YUFBQUFzbWdILzlLNW1kSnFzcmJGSVVLSTdUaTV1Wk1xbWZ5YlE3SFN0R21NUmRMV2pqd0ZvQ24wR2ZrYmNqa2UxT21ZMG1PVU9XSnp0NG9yd0F1cHBZbUpUUkRJNE1BTmtSV1VobUVYMGRXWTZEV2sva0xhNk0zLzV4VEpUWSt6UjYrSStlNEZDdnBBb1FGTGZTM2lhWkJ5QlNDcGdFME1tcldvd1pGUWJHUmNvTUE9IiwicmgiOiIxLkFWQUFsMVBDdnNjd0dFcUNXdlhZbm1MT21oTUxwWGlGeUloSGpwbDg3b3RQSG83YUFXdFFBQS4iLCJzdWIiOiJEdGVSYXRZcDBmNFl1VUpmV1llVXFKbVBSblBPWGtTS2Y5ZkhsWFpvZ0RVIiwidGlkIjoiYmVjMjUzOTctMzBjNy00YTE4LTgyNWEtZjVkODllNjJjZTlhIiwidXRpIjoiR3lJdlNJbHJBRVMwc1JiRmFrQUNBQSIsInZlciI6IjIuMCIsIndpZHMiOlsiYjc5ZmJmNGQtM2VmOS00Njg5LTgxNDMtNzZiMTk0ZTg1NTA5Il19.HWPnKOc0XGcyZ7N2mjuD-rBfUh9DXGhfvjhstmSYActOqdDvdsCbIf7kdujtHNBpl953e0EkZrPIOq-iqawLXQvL7TE9CTLFcgRLUEEYrxflrizlaUdaEpSLYzJ0osEqLLHmYrQKREl6iDR3p55NXW9XC6HbaV9oZDZ05C0CBmqnesqyHHSI4peZbJ2U5VpNif3_32nOEbrRpNqJv92M9KDTobB8FJrbeIcxXwbIqCGJAVV5SDjXKQdFgLNlpHHNC_Oi_ENLmNbnkZVSq7wE39DsctFp64_AYW6ZSsMFRIJU073FEcPIVzpLHUChBW3mphhnrzmi40mxPKvDHuStLQ","callbackQueryString":{"session_state":"009ac149-31a1-e45b-c8c1-41ffa97c49c2"}}},"type":"microsoftOutlookOAuth2Api","isManaged":false,"repo":{"path":"credentials/","name":"n8n_backup","owner":"zaynram"}}},{"json":{"createdAt":"2025-10-14T22:27:10.400Z","updatedAt":"2025-10-16T23:25:49.666Z","id":"dw6p2EgapsTjWrAP","name":"dbx [zramdass]","data":{"clientId":"j4s1u5omcnum32a","clientSecret":"n5iq09meox8arcq","oauthTokenData":{"access_token":"sl.u.AGC7h-8y2e-ghzFaIVMyRa8XaXXJiTtsbKjVmxyH8kDVSsIfOxSNLhn6ctCqLiLssBCEvt04hdFfIRWcb6C-p9jkGAnCQ5PTGVdZnFy1eUMNhLbyP-AbE1BJoE7s6EInNZ8Q_jK-VG5KOAoN-8b7W9lhFVGEo7zKAH0coZs8RPp8NCxVN1BRn-BmWM-TTDogpC4UqVQmG0yqax-FEHTIa9pe3VKmZHnYJGVeUDvEeC-ueT92zI1v7qJjZ5x84SSgJnw9Hg1K426L0OYH1QfKMNmD617R6NUwygtEctYt8TjbVEZnW2ybzezIbWyFdrt1dIPvuK2k9U3nO2XUYzxexfEgQUXtyNeS18dXQv4qhlVPsy5hX_bdniFKLIzJ-gbphjzFN5v0mrMTNgB3_tVOT5gGwqKOs82PuwK2HwaA7IqNzCDXH3iYta9pG_QybKry1vKEYBH22t13Xuzah6VgDYv3qU6PiAqBEksDKhAZDbWshY4FhOWXNDoH29YlAP8BshlmbzN9L0iveoOe96i_ZxNR-k6BVov4vntaRNf3uftq-pNuAKWD2WheFD3dsH6wwMZMcU-uKVKmcvzWR0n5mp8mTpKOf_vLNT0TEtmW-z00EPLUr1EGVCXJwpfQEL-vurkWTwhFVzKW2WEwxIPJCDYruXEcExVPibsRoFzqrFY905W32_x68qb60uRwumTDj-vdjP9n-HkHzP9DcjXiOf9R_XA_fm-SA2SlhubdHweifBfJpgrN9IVcXgYToh7QBjnA8gH0CU7HDT3B7_lGsX_Jd_khlMAHNfiuRC7rrXqRyf8shKnqaxxtTRnKdruOI-jEGx3POjkebtEsfQ_oj74V708oNAcdqOQyEs9F_faC-Yt8GdOSwtbdsU8_jXoZzfwgg6cWRUbEZJ4E0XFpIQFjPA92G5dwujkKaq-rful0o5331AckdKGLznYqUkilUDAGG-pHd6vO83m4N99LTDWphilGNE5AUYlBJTuRAqWJlrm31Dk6RuUCyr6V_KmoKeDp65Ws2VDszbetVVM0ZCVlBkRqOjkv9qo5X5ssHFBmSJJ5V8Q2Zjmw9kPfUMTfJsGol-9syMHdxtE-F_PeZ7ybRQxSf8jWCknFTz8YtfFAQqsBI4MGSWqJ_QohRRORtNdW2dCFIzTSIApbKuS9uLNd8Wl9tOrFLcAYwsP34hCcuIPOKjDYpmjvm4n2JRvmdrurlDtYdrY5zi5o3JSQs_vVRU0-db_CpckzJw7tAvLgwd-FwyAWdqcVDSI6nSwL04ed-4aC-WE139Y5ksnRbQ5h6RqmWcac1ADt7_IT64F2iT14R1YG2jHoeSU-X3xyJsyIt2m1248d2PRPs2nxypY3zF5IlnlXRidJOHJhHeTEEMXw5BUZp5Obpsc7z4rhulCPnbNHbGFuzTOfI9Lqh8JmiaD57nqGC8Bw-VkuI6GZpA","token_type":"bearer","expires_in":14400,"refresh_token":"YAQWXlM6Hw0AAAAAAAAAAeSuMb5YrDXCVRZQ-zlC9GIEvqdOCA5cCjFELQXhle-N","scope":"account_info.read files.content.read files.content.write files.metadata.read","uid":"2327732465","account_id":"dbid:AACH08JF0enOWwuic-HNcFByOBY6OoHpqx8"}},"type":"dropboxOAuth2Api","isManaged":false,"repo":{"path":"credentials/","name":"n8n_backup","owner":"zaynram"}}},{"json":{"createdAt":"2025-10-14T22:28:36.439Z","updatedAt":"2025-10-14T22:28:57.205Z","id":"BqXKeIPc7ETbnWCr","name":"gdrive [ramdasszayn]","data":{"clientId":"524424898148-qb9gj9g90a00oaor4g50lau3k17j589c.apps.googleusercontent.com","clientSecret":"=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","oauthTokenData":{"access_token":"ya29.a0AQQ_BDQmkbVo9ywi1YWKLvYrRS6Khk1m4ZeP1-MomppmDlwqItRbjnwPyUG6QDJhWUg4W4Ga7DoDjZd0N_5GKHFHtuxlpyHNh91kGAlc92Udysa6uA19F6OEj3kMRhJvPyEIy0evMTa359IF5XIsuEeXsnAHPM2XhpuYFOh0jR9-T7NfOBpPjZHWskREouzG6VjOCyUaCgYKAekSARUSFQHGX2Mirj_nUQurq-PMF4TL6II9Ow0206","expires_in":3599,"refresh_token":"1//017EpFXHpM1aXCgYIARAAGAESNwF-L9Ir2s-WfnEjXe-QDZwsv2E6OvRaIJrsUnIBtqZlSvCzEw3rEWwmEJGhczeqyqJiDUfWv7M","scope":"https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/drive.appdata https://www.googleapis.com/auth/drive.photos.readonly","token_type":"Bearer","refresh_token_expires_in":604799,"callbackQueryString":{"scope":"https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/drive.photos.readonly https://www.googleapis.com/auth/drive.appdata"}}},"type":"googleDriveOAuth2Api","isManaged":false,"repo":{"path":"credentials/","name":"n8n_backup","owner":"zaynram"}}},{"json":{"createdAt":"2025-10-14T22:29:20.604Z","updatedAt":"2025-10-14T22:29:39.784Z","id":"4LRgDhfNzSsMKby7","name":"gsheets [ramdasszayn]","data":{"clientId":"=524424898148-qb9gj9g90a00oaor4g50lau3k17j589c.apps.googleusercontent.com","clientSecret":"=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","oauthTokenData":{"access_token":"ya29.a0AQQ_BDQr73YI2SSCFkiCtatev4A6jSeyKq6n6jnMxBq3_YH-mGJU_pTfqHhRhs7_RtEPyjUthrPZGa0OEZl0yTWZVQyz7NCS5P4GI84oC4J6gmCAG207eOlWa7yqilIbcq6ZncX4VhjeYY8W2YtRrpdU3bDJsn5c63skqMfGWUInii6j2UpANtZMeZIH65LszMfBVGkaCgYKATkSARUSFQHGX2MiDM5sgIv2W93Tfxvn2f5hcw0206","expires_in":3599,"refresh_token":"1//01ucKXCxUHjc2CgYIARAAGAESNwF-L9Ir-yiCy_Gav3OExjYV-v0407n3WZG5jZKaqq4-W5RfmX934VH_YZXjNhsZnF-4LXFy0Pw","scope":"https://www.googleapis.com/auth/spreadsheets https://www.googleapis.com/auth/drive.metadata https://www.googleapis.com/auth/drive.file","token_type":"Bearer","refresh_token_expires_in":604798,"callbackQueryString":{"scope":"https://www.googleapis.com/auth/drive.metadata https://www.googleapis.com/auth/drive.file https://www.googleapis.com/auth/spreadsheets"}}},"type":"googleSheetsOAuth2Api","isManaged":false,"repo":{"path":"credentials/","name":"n8n_backup","owner":"zaynram"}}},{"json":{"createdAt":"2025-10-15T01:57:52.635Z","updatedAt":"2025-10-15T01:58:17.209Z","id":"2xpv7b5ixjJLAyzz","name":"Python Environment Variables account","data":{"envFileContent":"=python=\"c:/users/remote/desktop/n8n/.pixi/envs/default/python.exe\""},"type":"pythonEnvVars","isManaged":false,"repo":{"path":"credentials/","name":"n8n_backup","owner":"zaynram"}}},{"json":{"createdAt":"2025-10-17T01:06:02.515Z","updatedAt":"2025-10-17T01:06:07.758Z","id":"rCgMYtVh9Jz1Vg85","name":"this","data":{"apiKey":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJlMzA4ZjJmMi0yOTI3LTQ4YmMtOWU4OS1lYTBjNzMwOGM0N2MiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzYwNjYzMTE5fQ.ZfgIj-EAQq5qf-Vym79yyr1VMqqjhuImmQGyvVyOpPc","baseUrl":"https://ccn8n.org/api/v1"},"type":"n8nApi","isManaged":false,"repo":{"path":"credentials/","name":"n8n_backup","owner":"zaynram"}}},{"json":{"createdAt":"2025-10-17T01:09:18.322Z","updatedAt":"2025-10-17T01:09:18.321Z","id":"F54J2npoi4l6xTmI","name":"GitHub [zaynram]","data":{"user":"zaynram","accessToken":"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"},"type":"githubApi","isManaged":false,"repo":{"path":"credentials/","name":"n8n_backup","owner":"zaynram"}}}]},"versionId":"0887c72c-5261-433d-be96-52e5a7d851d9","triggerCount":0,"shared":[{"createdAt":"2025-10-17T01:09:58.534Z","updatedAt":"2025-10-17T01:09:58.534Z","role":"workflow:owner","workflowId":"vxlgJqjOgFvw0dIp","projectId":"ixpNRE1B5DSjZ1fx"}],"tags":[{"createdAt":"2025-10-17T01:10:02.746Z","updatedAt":"2025-10-17T01:10:02.746Z","id":"oh4Bp9q4P5dx9613","name":"utility"}]}]