service/backup/workflows/run_python_module.json
[{"createdAt":"2025-10-15T19:17:47.650Z","updatedAt":"2025-10-17T01:13:38.000Z","id":"2r4AVo8hQY88LVNY","name":"run_python_module","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"7329b1d3-6258-47f2-9df7-de202f3a5efc","name":"data","value":"={{ $json.output.record.extra }}","type":"object"},{"id":"db5a1546-0cee-4588-842b-14eea3fc69bb","name":"output.logs","value":"={{ $json.output.text }}","type":"array"},{"id":"06f272f5-e8a6-49f3-b902-876ce7cb3cfa","name":"output.warnings","value":"={{ $json.error.text }}","type":"array"},{"id":"76f9e597-f7ad-480d-8b7f-b3804b9d60df","name":"output.errors","value":"={{ [$json.output.record.exception, $json.error.record.exception].unique().filter(Boolean) }}","type":"array"},{"id":"69bb25e6-d140-4a9a-afa8-33653b1e8a7e","name":"execution","value":"={{ {\n  exit_code: $json.code,\n  time: {\n    elapsed: $json.output.record.elapsed.seconds,\n    stamp: $json.output.record.time.repr\n  },\n  process: {\n    id: $json.output.record.process.id,\n    name: $json.output.record.process.name\n  }\n} }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,-80],"id":"8143d6a1-0f6d-454f-b5a7-eae6ec197b44","name":"parse_output"},{"parameters":{"jsCode":"function process_input() {\n  const { module, positionals, keywords } = $input.first().json\n  const make_interpretable = (str) => JSON.stringify(str.replace(/[\\r\\n\\t']/g, \"\").replace(/&amp;/g, \"%26\")).replace(/\\\\\"/g, '^')\n  const process_command = () => module.includes(\"python\") ? module : `python -m ${module}`\n  const process_arguments = ()  => positionals.length ? [...positionals.map(x => make_interpretable(x))] : []\n  const format_flag = (str) => str.startsWith('-') ? str : str.length === 1 ? `-${str}` : `--${str}`\n  const process_options = () => Object.entries(keywords).map(\n    ([flag, value]) => `${format_flag(flag)} ${make_interpretable(value)}`\n  )\n  return [\n    process_command(), \n    ...process_options(), \n    ...process_arguments()\n  ].join(' ')\n}\n\nreturn { command: process_input() }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,-80],"id":"5481b754-22f5-4aa5-bad7-8b73bd7636d9","name":"clean_input"},{"parameters":{"command":"={{ $json.command }}"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[448,-80],"id":"54250679-f40f-4c3b-b4a7-31084d556f2d","name":"exec_cmd"},{"parameters":{"workflowInputs":{"values":[{"name":"module"},{"name":"positionals","type":"array"},{"name":"keywords","type":"object"}]}},"id":"c9213423-42c2-451b-b914-c6e551e72f2d","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-208,-80]},{"parameters":{"assignments":{"assignments":[{"id":"4709612f-3337-4d56-8e40-bdf3b945b717","name":"module","value":"={{ $json.module }}","type":"string"},{"id":"b316bf9d-3390-4353-9208-d6999ea53ce2","name":"positionals","value":"={{ $json.positionals ?? [] }}","type":"array"},{"id":"abe22477-89c5-4bc9-b64b-4eb41f3ec34d","name":"keywords","value":"={{ $json.keywords ?? {} }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-80],"id":"4af48df6-0c3d-4e39-9a80-c1603d9205d3","name":"Edit Fields"},{"parameters":{"jsCode":"const { stderr, stdout, exitCode } = $input.first().json\n\nconst try_parse = (s) => {\n  try {\n    const json = JSON.parse(s)\n    \n    if ('text' in json && typeof json.text === 'string') {\n      const [first, ...rest] = json.text.split(\"\\n\")\n      const [, entry] = first.split(/\\ \\w+\\.\\w+\\:\\w+\\:\\d+\\ \\-\\ /g)\n      json.text = [entry, ...rest].filter(Boolean)\n    } \n\n    if ('record' in json && typeof json.record === 'object') {\n      const { elapsed, exception, extra, process, time } = json.record\n      json.record = { elapsed, exception, extra, process, time }\n    }\n    \n    return json\n  \n  } catch {\n    if (typeof s === 'object') return s\n    if (typeof s === 'string') return { text: s, record: {} }    \n  }\n}\n\nreturn {\n  code: exitCode,\n  output: try_parse(stdout),\n  error: try_parse(stderr),\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,-80],"id":"c3e87de8-3026-4f5f-a8b0-439f6acfbe22","name":"parse_success"}],"connections":{"clean_input":{"main":[[{"node":"exec_cmd","type":"main","index":0}]]},"exec_cmd":{"main":[[{"node":"parse_success","type":"main","index":0}],[]]},"Start":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"clean_input","type":"main","index":0}]]},"parse_success":{"main":[[{"node":"parse_output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Start":[{"json":{"module":"n8n_py.parser","positionals":["<html><head>\r\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"><style>\r\n<!--\r\nbody\r\n\t{font-family:Arial,Helvetica,sans-serif;\r\n\tfont-size:12pt}\r\n.header\r\n\t{padding:10 auto;\r\n\ttop:0;\r\n\tdisplay:block}\r\n.content\r\n\t{padding:10px 0;\r\n\tmargin:0 auto;\r\n\theight:auto}\r\nh1\r\n\t{color:#12428A;\r\n\tpadding:0 0;\r\n\tmargin:0 0}\r\nth\r\n\t{background-color:#12428A;\r\n\tcolor:#FFFFFF;\r\n\tfont-weight:bold}\r\n.footer\r\n\t{color:darkslategrey;\r\n\theight:100px;\r\n\tbottom:0;\r\n\tleft:0;\r\n\twidth:100%}\r\n-->\r\n</style></head><body><div class=\"header\"><table width=\"100%\"><tbody><tr><td width=\"50%\" align=\"left\"><img src=\"https://illinois.tylertech.cloud/ClientBin/logos/Illogo.png\" alt=\"EFile State Logo\"></td><td width=\"50%\" align=\"right\"><h1>Filing Accepted</h1><p style=\"margin:0px\">Envelope Number: 34901352<br>Case Number: 2023DC64<br>Case Name: COLBURN, FELECIA VS. COLBURN, LOGAN</p></td></tr></tbody></table></div><div class=\"content\"><p>The filing below was reviewed and has been accepted by the clerk's office. You may access the file stamped copy of the document filed by clicking on the below link.</p><table width=\"100%\" border=\"1\" cellpadding=\"3\" cellspacing=\"0\"><tbody><tr><th colspan=\"2\">Filing Details</th></tr><tr><td width=\"30%\"><b>Court</b></td><td>Boone County</td></tr><tr><td width=\"30%\"><b>Case Number</b></td><td>2023DC64</td></tr><tr><td width=\"30%\"><b>Case Name</b></td><td>COLBURN, FELECIA VS. COLBURN, LOGAN</td></tr><tr><td width=\"30%\"><b>Date/Time Submitted</b></td><td>10/15/2025 1:34 PM CST</td></tr><tr><td width=\"30%\"><b>Date/Time Accepted</b></td><td>10/15/2025 1:52 PM CST</td></tr><tr><td width=\"30%\"><b>Accepted Comments</b></td><td>Thank you</td></tr><tr><td width=\"30%\"><b>Filing Type</b></td><td>EFileAndServe</td></tr><tr><td width=\"30%\"><b>Filing Description</b></td><td>Proposed Order</td></tr><tr><td width=\"30%\"><b>Filing Code</b></td><td>Proposed Order</td></tr><tr><td width=\"30%\"><b>Filed By</b></td><td>Mason Crosby</td></tr><tr><td width=\"30%\"><b>Filing Attorney</b></td><td>Tyler Crosby</td></tr></tbody></table><br><table width=\"100%\" border=\"1\" cellpadding=\"3\" cellspacing=\"0\"><tbody><tr><th colspan=\"2\">Document Details</th></tr><tr><td width=\"30%\"><b>Lead Document</b></td><td>Colburn - Rule to Show Cause.pdf</td></tr><tr><td width=\"30%\"><b>Lead Document Page Count</b></td><td>2</td></tr><tr><td width=\"30%\"><b>File Stamped Copy</b></td><td><a href=\"https://illinois.tylertech.cloud/ViewDocuments.aspx?FID=d7d21f39-b94a-4b0f-8975-e23162fb36ca\">Download Document</a></td></tr><tr><td colspan=\"2\" align=\"center\">This link is active for 548 days. To access this document, you will be required to enter your email address. Click <a href=\"https://content.tylerhost.net/docs/Filer_Information.pdf\" target=\"_blank\" rel=\"noopener\">here</a> for more information.</td></tr></tbody></table><p>If the link above is not accessible, copy this URL into your browser's address bar to view the document: <br>https://illinois.tylertech.cloud/ViewDocuments.aspx?FID=d7d21f39-b94a-4b0f-8975-e23162fb36ca</p><p>If you are not represented by a lawyer, we want to improve your e-filing experience. Please <a href=\"https://docs.google.com/forms/d/e/1FAIpQLScTqDkGzBQm25gaSWw8pPmfInrdkfkXBuAIS1G2Wi-MM4pqWA/viewform\">click here</a> to fill out a short survey. </p><p><b>Please Note:</b> If you have not already done so, be sure to add yourself as a service contact on this case in order to receive eService.</p></div><div class=\"footer\"><p width=\"100\" align=\"center\">For technical assistance, contact your service provider<br></p><div id=\"contactname\">Odyssey File &amp; Serve</div><br><div id=\"contactphone\">(800) 297-5377</div><br>Please do not reply to this email. It was automatically generated. <p></p></div></body></html>"],"keywords":null}}]},"versionId":"d48dc36b-3fcf-4d42-b688-a50b2557e490","triggerCount":0,"shared":[{"createdAt":"2025-10-15T19:17:47.651Z","updatedAt":"2025-10-15T19:17:47.651Z","role":"workflow:owner","workflowId":"2r4AVo8hQY88LVNY","projectId":"ixpNRE1B5DSjZ1fx"}],"tags":[{"createdAt":"2025-10-17T01:10:02.746Z","updatedAt":"2025-10-17T01:10:02.746Z","id":"oh4Bp9q4P5dx9613","name":"utility"}]}]