service/backup/workflows/write_json_file.json
[{"updatedAt":"2025-10-17T02:12:11.000Z","createdAt":"2025-10-17T01:40:57.922Z","id":"rodkQF59SypRleOk","name":"write_json_file","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[880,-48],"id":"c7d214b5-f8da-4c0b-8736-691e33b5e5cc","name":"Convert to File"},{"parameters":{"operation":"write","fileName":"={{ $json.stdout.replace(/\\\\\\\\/, \"/\") }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1344,-144],"id":"62cbdb8f-9019-4159-8219-410179331941","name":"Read/Write Files from Disk"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1120,-144],"id":"4fdccb40-8851-4d23-8c96-2d74e7321028","name":"Merge"},{"parameters":{"command":"=echo {{ \"%PWD%\\\\\" + [$json.subdirectory, $json.filename].filter(Boolean).join(\"\\\\\") }}"},"id":"186ffc8a-0aff-4c26-b194-b6c3e7191262","name":"get_pwd","type":"n8n-nodes-base.executeCommand","position":[784,-240],"typeVersion":1},{"parameters":{"workflowInputs":{"values":[{"name":"subdirectory"},{"name":"filename"},{"name":"content","type":"object"}]}},"id":"cab14478-605b-41ee-b7b7-9e2ec22f809c","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[432,-144]},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.content ?? {} }} \n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,-48],"id":"207868ed-9a75-47d6-8087-5c824a04728a","name":"Edit Fields"}],"connections":{"Convert to File":{"main":[[{"node":"Merge","type":"main","index":1}]]},"get_pwd":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Start":{"main":[[{"node":"get_pwd","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fc956eb7-3af4-468f-b08d-d1735202835d","triggerCount":0,"shared":[{"updatedAt":"2025-10-17T01:40:57.922Z","createdAt":"2025-10-17T01:40:57.922Z","role":"workflow:owner","workflowId":"rodkQF59SypRleOk","projectId":"ixpNRE1B5DSjZ1fx"}],"tags":[{"updatedAt":"2025-10-17T01:10:02.746Z","createdAt":"2025-10-17T01:10:02.746Z","id":"oh4Bp9q4P5dx9613","name":"utility"}]}]